<ion-view view-title="Emploi du temps">
    <ion-nav-bar class="bar bar-positive">
    </ion-nav-bar>
    
    <div class="bar bar-subheader row row-top week-select">
        <p ng-click="previousWeek()"
        class="icon ion-chevron-left arrow-schedule"></p>
        <div class="col">
            <p class="center">{{weekTitle}}</p>
        </div>
        <p ng-click="nextWeek()"
        class="icon ion-chevron-right arrow-schedule"></p>
    </div>
    
    <ion-content class="platform-ios padding-content" delegate-handle="dashDelegate">
        <ul class="list">
            <div ng-repeat="day in days">
                <a id="today" ng-if="day.isToday"></a>
                <li style="text-transform: capitalize;" 
                    class="item item-divider">
                    <h2>{{day.date | amDateFormat:"dddd DD MMMM" }}</h2>
                </li>
                
                <li ng-if="day.courses.length == 0" class="item">
                    <p>Pas de cours</p>
                </li>
                
                <li ng-if="day.courses.length" class="item"
                    ng-repeat="course in day.courses" type="item-text-wrap">
                    <h3 style="text-align: left; float: left;">{{course.start | amDateFormat:"HH:mm"}} -
                        {{course.end | amDateFormat:"HH:mm"}}</h3>
                    <p style="text-align:right;">Angèle Peynaud</p>
                    <p>Salle {{course.room}}</p>
                    <p>{{course.name}}</p>
                </li>
            </div>
        </ul>
    </ion-content>
</ion-view>
